POSTGRES_DB=geodb
POSTGRES_USER=geo_user
POSTGRES_PASSWORD=geo_pass_123
POSTGRES_PORT=5432

APP_PORT=3000
NGINX_PORT=80

DB_HOST=db
DB_PORT=5432
DB_NAME=geodb
DB_USER=geo_user
DB_PASSWORD=geo_pass_123
